@keyframes dot-one {
    0% {top: 5px;left: 5px;}
    40% {top: 5px;left:185px;}
    50% {top: 35px;left:185px;}
    90% {top: 35px;left: 5px;}
    100% {top: 5px;left: 5px;}
}
@keyframes dot-two {
    0% {bottom: 5px;right: 5px;}
    40% {bottom: 5px;right:185px;}
    50% {bottom: 35px;right:185px;}
    90% {bottom: 35px;right: 5px;}
    100% {bottom: 5px;right: 5px;}
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
#app {
    max-width: 1000px;
    margin: auto;
    padding: 15px;
}
.text-center {
    text-align: center;
}
.pull-right {
    float: right;
}
.pre-box {
    word-wrap: break-word;
    white-space: pre-line;
}
.btn {
    border: 1px solid black;
    line-height: 18px;
    cursor: pointer;
    outline: 0px;
}
.btn:hover {
    box-shadow: 0 0 3px #051fff;
}
.btn:active {
    box-shadow: inset 0 0 3px 1px #0000007b;
}
.btn.btn-big {
    padding: 6px 15px;
}
.btn.btn-danger {
    border-color: red;
    background-color: #e84242;
    color: white;
}
.btn.btn-success {
    border-color: #28c528;
    background-color: #45d045;
}
.btn.btn-info {
    border-color: #48d2d0;
    background-color: #5bf3f5;
}
.btn.btn-main {
    border-color: #2261da;
    background-color: #3979f3;
    color: white;
}
.btn.btn-warning {
    background-color: #fdbe49;
    border-color: orange;
}

#app .loading {
    position: fixed;
    left:0;
    top: 0;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
#app .loading .content {
    text-align: center;
    background-color: white;
    line-height: 50px;
    width: 200px;
    border-radius: 5px;
    position: relative;
}
#app .loading .content:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    animation: dot-one 5s infinite;
}
#app .loading .content:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #0400ff;
    border-radius: 50%;
    bottom: 5px;
    right: 5px;
    animation: dot-two 5s infinite;
}

#app .list {
    position: relative;
}
#app .list .status-filter {
    top: 0;
    position: absolute;
    right: 0;
    padding: 3px 10px;
}
#app .list table {
    width: 100%;
    border-collapse: collapse;
}
#app .list table tr td,
#app .list table tr th {
    border: 1px solid #cacaca;
    padding: 7px 12px;
    vertical-align: top;
}
#app .list .navigator {
    display: flex;
    margin-bottom: 15px;
}
#app .list .navigator > * {
    line-height: 20px;
    margin-right: 10px;
}
#app .list .navigator > *:last-child {
    margin-right: 0;
}
#app .list .navigator input {
    flex-grow: 8;
    padding: 0 10px;
}
#app .list .navigator button {
    flex-grow: 2;
    display: inline-block;
}


#app .form .form-control {
    display: block;
    width: 100%;
    padding: 7px 8px;
    margin-bottom: 5px;
    border: 1px solid black;
}
#app .form .finish-label {
    display: inline-block;
    line-height: 22px;
    background-color: #45d045;
    width: 100%;
    margin-bottom: 5px;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    position: relative;
}
#app .form .finish-label:before {
    position: absolute;
    content: "FD";
    left: 8px;
}
#app .form .form-control[disabled] {
    background-color: #e2e2e2;
}
#app .form .block-activity {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
#app .form .block-activity:last-child {
    margin-bottom: 15px;
}
#app .form .block-activity > .main-set {
    flex-grow: 10;
    margin-right: 10px;
}
#app .form .block-activity > .main-set textarea {
    height: 100%;
    resize: none;
}
#app .form .block-activity > .input-set {
    margin-right: 10px;
    width: 150px;
}
#app .form .block-activity > .input-set > .form-control:last-child {
    margin-bottom: 0px;
}
#app .form .block-activity > .action-set {
    width: 150px;
}
#app .form .block-activity > .action-set button {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}
#app .form .block-activity > .action-set > button:last-child {
    margin-bottom: 0px;
}

.form .input-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.form .input-group > * {
    flex-grow: 2;
}
.form .input-group > .group-addon {
    flex-grow: 1;
}
.form .input-group .group-addon .btn {
    margin-left: -1px;
    padding: 4px 15px;
    line-height: 21px;
}

.form .date-list {
    margin-bottom: 15px;
    margin-top: 5px;
}
.form .date-list .holiday-block {
    display: inline-block;
    border: 1px solid black;
    position: relative;
    margin-right: 30px;
    margin-bottom: 10px;
}
.form .date-list .holiday-block .label {
    display: inline-block;
    padding: 4px 20px;
    border-radius: 3px;
}
.form .date-list .holiday-block .btn {
    margin-top: -2px;
    font-size: 16px;
    line-height: 22px;
    width: 24px;
    position: absolute;
    top: 1px;
}
